<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">SMT</li>
  </ol>
</nav>

<h1>SMT</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Printing</a></li>
    <li><a class="dropdown-item" href="#">Pick and place</a></li>
    <li><a class="dropdown-item" href="#">Soldering</a></li>
    <li><a class="dropdown-item" href="#">AOI</a></li>
  </ul>
</div>